<footer class="container mx-auto overflow-hidden">
  {% render spectrum %}
  {% render rule %}
  <div class="grid gap-1 lg:grid-cols-4 ">
    <ul class="bg-white px-2 py-2 text-black">
      <li>{{ site.META.TITLE }}</li>
      <li>
        02008 &mdash; {{ site.META.YEAR }}
        <a
          href="{{ site.META.CREATIVE_COMMONS }}"
          class="text-blue-700 underline hover:text-blue-900 hover:no-underline"
          >CC BY 4.0</a
        >
      </li>
      <li>{{ site.META.INVOCATION }}</li>
    </ul>
    <ul class="bg-white px-2 py-2 text-black lg:col-span-2">
      <li>
        You Are Here:
        {% assign path = site.META.CANONICAL | replace_last: '/', '' | append: page.url | append: path.url %}
        <a href="{{ path }}" class="text-blue-700 underline hover:text-blue-900 hover:no-underline">
          {{ path }}
        </a>
      </li>
      <li>
        RSS Feed:
        <a
          href="{{ site.META.CANONICAL }}{{ site.META.FEED }}"
          class="text-blue-700 underline hover:text-blue-900 hover:no-underline"
        >
          {{- site.META.CANONICAL -}}
          {{- site.META.FEED -}}
        </a>
      </li>
      <li>
        Source Code:
        <a
          href="{{ site.META.GITHUB_URL }}/commit/{{ site.META.GIT_HASH }}"
          class="text-blue-700 underline hover:text-blue-900 hover:no-underline"
        >
          {{- site.META.GIT_HASH_SHORT -}}
        </a>
      </li>
      <li>
        Discography:
        <a
          href="{{ site.META.DISCOGRAPHY_URL }}"
          class="text-blue-700 underline hover:text-blue-900 hover:no-underline"
        >
          v{{- site.META.DISCOGRAPHY_VERSION -}}
        </a>
      </li>
      <li>Build Time: 0{{ site.META.BUILD_TIME }}</li>
    </ul>
    <a
      href="/"
      class="flex h-full w-full items-center justify-center bg-white px-2 py-2 text-black hover:bg-red-500"
    >
      <img
        src="/images/applied-sciences-and-phantasms-working-division.svg"
        alt="Northern Information Logo"
        class="mr-2 h-[90px] w-[90px]"
        loading="lazy"
      >
    </a>
  </div>
  {% render rule %}
  {% render spectrum %}
  {% render rule %}
</footer>
