<footer class="container mb-10 overflow-hidden border-l-4 border-r-4 border-solid border-stone-950 bg-stone-50">
  {% render rule %}
  {% render spectrum %}
  {% render rule %}
  <div class="grid lg:grid-cols-4">
    <div class="border-b-4 border-stone-950 px-2 py-2 lg:border-b-0 lg:border-r-4 lg:border-solid ">
      <p>{{ site.META.TITLE }}</p>
      <p>
        2008 &mdash; {{ site.META.YEAR }}
        <a
          href="{{ site.META.CREATIVE_COMMONS }}"
          class="text-blue-700 underline hover:text-blue-900 hover:no-underline"
          >CC BY 4.0</a
        >
      </p>
      <p>{{ site.META.INVOCATION }}</p>
    </div>
    <div class="border-b-4 border-solid border-stone-950 px-2 py-2 lg:col-span-2 lg:border-b-0 lg:border-r-4">
      <p>Build Time: {{ site.META.BUILD_TIME }}</p>
      <p>
        Source Code:
        <a
          href="{{ site.META.GITHUB_URL }}/commit/{{ site.META.GIT_HASH }}"
          class="text-blue-700 underline hover:text-blue-900 hover:no-underline"
        >
          {{- site.META.GIT_HASH_SHORT -}}
        </a>
      </p>
      <p>
        Atom Feed:
        <a
          href="{{ site.META.CANONICAL }}{{ site.META.FEED }}"
          class="text-blue-700 underline hover:text-blue-900 hover:no-underline"
        >
          {{- site.META.CANONICAL -}}
          {{- site.META.FEED -}}
        </a>
      </p>
    </div>
    <a
      href="/"
      class="flex h-full w-full items-center justify-center px-2 py-2 hover:bg-red-500"
    >
      <img
        src="/images/applied-sciences-and-phantasms-working-division.svg"
        alt="Northern Information Logo"
        class="mr-2 h-[90px] w-[90px]"
      >
    </a>
  </div>
  {% render rule %}
  {% render spectrum %}
  {% render rule %}
  {% render search %}
  {% render path, site: site, page: page, post: post %}
  {% render rule %}
</footer>
