{% if isLink %}
  <a
    href="/discography/{{ release.slug }}"
    class="group block w-fit cursor-pointer border-4 border-solid border-transparent p-4 text-center transition-colors hover:border-red-500 hover:bg-red-950"
  >
{% else %}
  <div class="block w-fit border-4 border-solid border-transparent p-4 text-center">
{% endif %}
<h2 class="font-olde text-xl font-semibold text-red-500 group-hover:underline md:text-4xl">
  {{ release.title | toTitleCase }}
</h2>
<h3 class="text-sm text-slate-50">{{ release.project }}</h3>
<p class="font-serif italic text-slate-500">
  {{ release.released | stripLeadingZero | dateToUTC | date: '%B 0%Y' }}, {{ release.type }}
</p>
{% if isLink %}
  </a>
{% else %}
  </div>
{% endif %}
