<a
  href="/music/{{ release.slug }}"
  class="block cursor-pointer hover:underline"
>
  <img src="{{ release.cover_url }}" alt="{{ release.title }} Cover" class="h-auto w-full">
  <div class="p-2">
    <p class="font-mono text-sm">
      {{ release.released | stripLeadingZero | dateToUTC | date: '%Y' }}
    </p>
    <p class="truncate w-full">
      {{ release.title }}
    </p>
    <p class="truncate w-full">
      {{ release.project }}
    </p>
  </div>
</a>
