<a
  {% if release.slug contains 'dj-stuxnet' %}
    href="/mixes/{{ release.slug }}"
  {% else %}
    href="/music/{{ release.slug }}"
  {% endif %}
  class="block cursor-pointer border-4 border-solid border-transparent p-4 transition-colors hover:border-red-500 hover:bg-red-950"
>
  <img src="{{ release.cover_url }}" alt="{{ release.title }} Cover" class="h-auto w-full">
  <p class="font-mono text-sm pt-1 text-stone-50">{{ release.title }}, {{ release.released | stripLeadingZero | dateToUTC | date: '%Y' }}</p>
</a>
