---
layout: base.liquid
---
<div class="flex flex-col overflow-hidden border-t-4 border-b-2 border-solid border-[black] md:flex-row">
  <div class="w-full border-b-4 border-[black] md:w-1/2 md:border-r-4 md:border-b-0">
    <a href="/images/goth-pro-shops.jpg">
      <img src="/images/goth-pro-shops.jpg" alt="Tyler Etters">
    </a>
  </div>
  <div class="post p-2 md:w-1/2">
    {{ content }}
    <h2>Social Media:</h2>
    <p>
      <a href="{{ site.ACCOUNTS.BANDCAMP }}">Bandcamp</a>, <a href="{{ site.ACCOUNTS.BLUESKY }}">Bluesky</a>,
      <a href="{{ site.ACCOUNTS.DISCORD }}">Discord</a>, <a href="{{ site.ACCOUNTS.GEMINI }}">Gemini</a>,
      <a href="{{ site.ACCOUNTS.GITHUB }}">GitHub</a>, <a href="{{ site.ACCOUNTS.INSTAGRAM }}">Instagram</a>,
      <a href="{{ site.ACCOUNTS.LINKEDIN }}">LinkedIn</a>, <a href="{{ site.ACCOUNTS.MASTODON }}">Mastodon</a>,
      <a href="{{ site.ACCOUNTS.NEWSLETTER }}">Newsletter</a>, <a href="{{ site.ACCOUNTS.SOUNDCLOUD }}">SoundCloud</a>,
      <a href="{{ site.ACCOUNTS.TWITCH }}">Twitch</a>, <a href="{{ site.ACCOUNTS.YOUTUBE }}">YouTube</a>.
    </p>
  </div>
</div>
<div class="overflow-hidden border-b-2 border-solid border-[black]">
  <ul class="grid grid-cols-1 gap-1 md:grid-cols-3 lg:grid-cols-5">
    {% for photo in photos %}
      <li
        class="group text-stone-950 bg-stone-50 hover:bg-stone-950 hover:text-yellow-300"
      >
        <a
          href="{{ photo.url }}"
          class="cursor-pointer w-full h-full"
        >
          <img src="{{ photo.url }}" alt="{{ photo.title }} Cover" class="h-auto w-full group-hover:invert">
          <ul class="relative border-t-4 border-solid border-[black] p-2 group-hover:border-yellow-300">
            <li class="w-full truncate group-hover:underline">
              {{ photo.title }}
            </li>
          </ul>
        </a>
      </li>
    {% endfor %}
  </ul>
</div>
