---
layout: base.liquid
---
<div class="overflow-hidden border-2 border-solid border-stone-950">
  <ul class="grid list-none grid-cols-1 md:grid-cols-3 xl:grid-cols-5">
    {% for release in collections.discography %}
      <li class="group border-2 border-stone-950 border-solid hover:bg-stone-950 hover:text-yellow-300 bg-stone-50">
        <a
          href="/music/{{ release.slug }}"
          class="block cursor-pointer"
        >
          <img src="{{ release.cover_url }}" alt="{{ release.title }} Cover" class="h-auto w-full group-hover:invert">
          <ul class="relative p-2 border-t-4 border-stone-950 border-solid group-hover:border-yellow-300">
            <li class="truncate w-full text-sm group-hover:underline">
              <span class="font-mono"></span>{{ release.released | stripLeadingZero | dateToUTC | date: '%Y' }}</span>
              <span class="text-transparent group-hover:text-yellow-300">{{ release.type }}, {{ release.label }}: {{ release.format }}</span>
            </li>
            <li class="truncate w-full group-hover:underline">
              {{ release.title }}
            </li>
            <li class="truncate w-full group-hover:underline">
              {{ release.project }}
            </li>
          </ul>
        </a>
      </li>
    {% endfor %}
  </ul>
</div>