---
layout: base.liquid
---
<div class="border-t-2 border-b-2 border-solid border-stone-950">
  <ul class="grid list-none grid-cols-1 md:grid-cols-3 xl:grid-cols-5">
    {% for release in collections.discography %}
      <li
        class="
          group flex

          flex-col border-t-2 border-b-2 border-solid border-stone-950 bg-stone-50 hover:bg-stone-950 hover:text-yellow-300

          md:border-r-2
          md:border-l-2

          md:[&:nth-child(3n)]:border-r-0
          xl:[&:nth-child(3n)]:border-r-2

          md:[&:nth-child(3n+1)]:border-l-0
          xl:[&:nth-child(3n+1)]:border-l-2
          xl:[&:nth-child(5n)]:border-r-0
          xl:[&:nth-child(5n+1)]:border-l-0
        "
      >
        <a
          href="/music/{{ release.slug }}"
          class="block cursor-pointer"
        >
          <div class="aspect-[1/1] w-full overflow-hidden">
            <img
              src="{{ release.cover_url }}"
              alt="{{ release.title }}"
              class="h-full w-full object-cover group-hover:invert"
              loading="lazy"
            />
          </div>
          <ul class="relative border-t-4 border-solid border-stone-950 p-2 group-hover:border-yellow-300">
            <li class="flex w-full gap-1 text-sm group-hover:underline">
              <span class="font-mono text-sm">
                {{ release.released | stripLeadingZero | dateToUTC | date: '%Y' }}
              </span>
              <span class="transition-300 truncate overflow-hidden whitespace-nowrap text-transparent transition-all group-hover:text-yellow-300">
                {{- release.type }}, {{ release.label }}: {{ release.format -}}
              </span>
            </li>
            <li class="w-full truncate group-hover:underline">
              {{ release.title }}
            </li>
            <li class="w-full truncate group-hover:underline">
              {{ release.project }}
            </li>
          </ul>
        </a>
      </li>
    {% endfor %}
  </ul>
</div>
