---
layout: base.liquid
---
<div class="content">
  {% render pageTitle, title: 'Resources' %}
</div>
<ul class="mb-10">
  {% for resource in resources %}
    <li class="mb-5">
      <div class="content">
        <h2>{{- resource.title -}}</h2>
        <p>{{ resource.description }}</p>
        <div class="flex">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-20 text-yellow-300">
            <path stroke-linecap="round" stroke-linejoin="round" d="M9 8.25H7.5a2.25 2.25 0 0 0-2.25 2.25v9a2.25 2.25 0 0 0 2.25 2.25h9a2.25 2.25 0 0 0 2.25-2.25v-9a2.25 2.25 0 0 0-2.25-2.25H15M9 12l3 3m0 0 3-3m-3 3V2.25" />
          </svg>
          <a
            href="{{ resource.url }}"
            target="_blank"
            class="content group font-mono bg-yellow-300 h-fit w-full hover:bg-caution-stripes p-5 text-xl border-solid border-2 border-transparent hover:border-yellow-300 text-center"
          >
            <span class="group-hover:bg-black group-hover:!text-yellow-300 !text-black px-2">
              Download&nbsp;{{- resource.title -}}&nbsp;({{- resource.size -}})
            </span>
          </a>
        </div>
      </div>
    </li>
  {% endfor %}
</ul>