---
layout: base.liquid
---
<div class="grid bg-stone-950 md:grid-cols-2">
  <div class="content md:pe-5">
    {% render pageTitle, title: title %}
    {{ content }}
    <p>
      Crumbling Social Azula: <a href="mailto:{{ site.ACCOUNTS.EMAIL }}">{{ site.ACCOUNTS.EMAIL }}</a>,
      <a href="{{ site.ACCOUNTS.BANDCAMP }}">Bandcamp</a>, <a href="{{ site.ACCOUNTS.BLUESKY }}">Bluesky</a>,
      <a href="{{ site.ACCOUNTS.DISCORD }}">Discord</a>, <a href="{{ site.ACCOUNTS.GEMINI }}">Gemini</a>,
      <a href="{{ site.ACCOUNTS.GITHUB }}">GitHub</a>, <a href="{{ site.ACCOUNTS.INSTAGRAM }}">Instagram</a>,
      <a href="{{ site.ACCOUNTS.LINKEDIN }}">LinkedIn</a>, <a href="{{ site.ACCOUNTS.MASTODON }}">Mastodon</a>,
      <a href="{{ site.ACCOUNTS.NEWSLETTER }}">Newsletter</a>, <a href="{{ site.ACCOUNTS.SOUNDCLOUD }}">SoundCloud</a>,
      <a href="{{ site.ACCOUNTS.TWITCH }}">Twitch</a>, <a href="{{ site.ACCOUNTS.X }}">X</a>,
      <a href="{{ site.ACCOUNTS.YOUTUBE }}">YouTube</a>
    </p>
    <div class="mb-5 flex gap-2">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="size-20 text-yellow-300"
      >
        <path stroke-linecap="round" stroke-linejoin="round" d="M6.827 6.175A2.31 2.31 0 0 1 5.186 7.23c-.38.054-.757.112-1.134.175C2.999 7.58 2.25 8.507 2.25 9.574V18a2.25 2.25 0 0 0 2.25 2.25h15A2.25 2.25 0 0 0 21.75 18V9.574c0-1.067-.75-1.994-1.802-2.169a47.865 47.865 0 0 0-1.134-.175 2.31 2.31 0 0 1-1.64-1.055l-.822-1.316a2.192 2.192 0 0 0-1.736-1.039 48.774 48.774 0 0 0-5.232 0 2.192 2.192 0 0 0-1.736 1.039l-.821 1.316Z" />
        <path stroke-linecap="round" stroke-linejoin="round" d="M16.5 12.75a4.5 4.5 0 1 1-9 0 4.5 4.5 0 0 1 9 0ZM18.75 10.5h.008v.008h-.008V10.5Z" />
      </svg>
      <a
        href="/press-photo-archive"
        target="_blank"
        class="content group h-fit w-full border-2 border-solid border-transparent bg-yellow-300 p-5 text-center font-mono text-xl hover:border-yellow-300 hover:bg-caution-stripes"
      >
        <span class="px-2 !text-black group-hover:bg-black group-hover:!text-yellow-300"> Press Photo Archive </span>
      </a>
    </div>
  </div>
  <div>
    <a href="/images/edgelord-vertical.jpg">
      <img src="/images/edgelord-vertical.jpg" alt="Tyler Etters">
    </a>
  </div>
</div>
