---
layout: base.liquid
---
{% render pageTitle, title: title %}
<ul class="content grid grid-cols-1 -mx-2 -my-2">
  {% for project in projects %}
    <li class="mb-10">
      <div class="mb-8 grid grid-cols-1 md:grid-cols-3">
        <div>
          <h2>{{ project.title }}</h2>
          <p>{{ project.dates }}</p>
          {{ project.content | markdown }}
        </div>
        <div class="md:col-span-2">
          <img src="{{ project.image }}" alt="{{ project.title }}">
        </div>
      </div>
      {% if project.title != 'Hollow Moon Studios' %}
        {% render spectrum %}
      {% endif %}
    </li>
  {% endfor %}
</ul>
