---
layout: base.liquid
---
<ul class="grid grid-cols-1">
  <div class="content">
    {% render pageTitle, title: title %}
  </div>
  {% for subsidiary in subsidiaries %}
    <li class="mb-10">
      {% if subsidiary.title != 'Circular Ruin DSP' %}
        <div class="-mx-2 h-10">
          {% render spectrum %}
        </div>
      {% endif %}
      <div class="grid grid-cols-1 md:grid-cols-3">
        <div class="content max-w-none md:pr-4">
          <h2>{{ subsidiary.title }}</h2>
          <p>{{ subsidiary.dates }}</p>
          {{ subsidiary.content | markdown }}
        </div>
        <div class="md:col-span-2">
          <a href="{{ subsidiary.image }}">
            <img src="{{ subsidiary.image }}" alt="{{ subsidiary.title }}" class="!mb-0 h-auto w-full">
          </a>
        </div>
      </div>
    </li>
  {% endfor %}
</ul>
