---
layout: base.liquid
---
<div class="mb-10 grid bg-stone-950 md:grid-cols-2">
  <div class="md:pe-5">
    {{ content }}
    <p>
      Crumbling Social Azula: <a href="mailto:{{ site.ACCOUNTS.EMAIL }}">{{ site.ACCOUNTS.EMAIL }}</a>,
      <a href="{{ site.ACCOUNTS.BANDCAMP }}">Bandcamp</a>, <a href="{{ site.ACCOUNTS.BLUESKY }}">Bluesky</a>,
      <a href="{{ site.ACCOUNTS.DISCORD }}">Discord</a>, <a href="{{ site.ACCOUNTS.GEMINI }}">Gemini</a>,
      <a href="{{ site.ACCOUNTS.GITHUB }}">GitHub</a>, <a href="{{ site.ACCOUNTS.INSTAGRAM }}">Instagram</a>,
      <a href="{{ site.ACCOUNTS.LINKEDIN }}">LinkedIn</a>, <a href="{{ site.ACCOUNTS.MASTODON }}">Mastodon</a>,
      <a href="{{ site.ACCOUNTS.NEWSLETTER }}">Newsletter</a>, <a href="{{ site.ACCOUNTS.SOUNDCLOUD }}">SoundCloud</a>,
      <a href="{{ site.ACCOUNTS.TWITCH }}">Twitch</a>, <a href="{{ site.ACCOUNTS.X }}">X</a>,
      <a href="{{ site.ACCOUNTS.YOUTUBE }}">YouTube</a>
    </p>
  </div>
  <div>
    <a href="/images/goth-pro-shops.jpg">
      <img src="/images/goth-pro-shops.jpg" alt="Tyler Etters">
    </a>
  </div>
</div>
<ul class="mb-10 grid list-none grid-cols-1 gap-5 md:grid-cols-3 xl:grid-cols-5">
  {% for photo in pressPhotoArchive %}
    <li class="mb-2">
      <a
        href="{{ photo.url }}"
        target="_blank"
        class="block cursor-pointer"
      >
        <img src="{{ photo.url }}" class="h-auto w-full" alt="{{ photo.title }}">
      </a>
      <div class="font-mono text-stone-50">
        <p>{{- photo.title -}}</p>

        {% if photo.location %}
          {% if photo.locationUrl %}
            <p>
              <a href="{{ photo.locationUrl }}">
                {{- photo.location -}}
              </a>
            </p>
          {% else %}
            <p>{{- photo.location -}}</p>
          {% endif %}
        {% endif %}

        {% if photo.photographer %}
          {% if photo.photographerUrl %}
            <p>
              <a href="{{ photo.photographerUrl }}" class="text-yellow-300 underline hover:text-red-500">
                {{- photo.photographer -}}
              </a>
            </p>
          {% else %}
            <p>{{- photo.photographer -}}</p>
          {% endif %}
        {% endif %}
      </div>
    </li>
  {% endfor %}
</ul>
