---
layout: base.liquid
---
<div class="grid bg-stone-950 md:grid-cols-2">
  <div class="content md:pe-5">
    {% render pageTitle, title: title %}
    {{ content }}
    <p>For bookings and other mischief: <a href="mailto:{{ site.ACCOUNTS.EMAIL }}">{{ site.ACCOUNTS.EMAIL }}</a>, <a href="{{ site.ACCOUNTS.BANDCAMP }}">Bandcamp</a>, <a href="{{ site.ACCOUNTS.BLUESKY }}">Bluesky</a>, <a href="{{ site.ACCOUNTS.DISCORD }}">Discord</a>, <a href="{{ site.ACCOUNTS.GEMINI }}">Gemini</a>, <a href="{{ site.ACCOUNTS.GITHUB }}">GitHub</a>, <a href="{{ site.ACCOUNTS.INSTAGRAM }}">Instagram</a>, <a href="{{ site.ACCOUNTS.LINKEDIN }}">LinkedIn</a>, <a href="{{ site.ACCOUNTS.MASTODON }}">Mastodon</a>, <a href="{{ site.ACCOUNTS.NEWSLETTER }}">Newsletter</a>, <a href="{{ site.ACCOUNTS.SOUNDCLOUD }}">SoundCloud</a>, <a href="{{ site.ACCOUNTS.TWITCH }}">Twitch</a>, <a href="{{ site.ACCOUNTS.X }}">X</a>, <a href="{{ site.ACCOUNTS.YOUTUBE }}">YouTube</a>
    </p>
  </div>
  <div>
    <a href="/images/abstraction-tyler-1235x.png"><img src="/images/abstraction-tyler-1235x.png" alt="Tyler Etters"></a>
  </div>
</div>
