---
layout: base.liquid
---
{% render pageTitle, title: title %}
<ul class="content grid grid-cols-1">
  {% for project in projects %}
    <li class="mb-10">
      {% if project.title != 'Circular Ruin DSP' %}
        <div class="-mx-2 h-10">
          {% render spectrum %}
        </div>
      {% endif %}
      <div class="grid grid-cols-1 md:grid-cols-3">
        <div class="md:pr-4">
          <h2>{{ project.title }}</h2>
          <p>{{ project.dates }}</p>
          {{ project.content | markdown }}
        </div>
        <div class="md:col-span-2">
          <a href="{{ project.image }}">
            <img src="{{ project.image }}" alt="{{ project.title }}" class="!mb-0">
          </a>
        </div>
      </div>
    </li>
  {% endfor %}
</ul>
