---
layout: base.liquid
---

<ul class="mb-10 grid gap-5 list-none grid-cols-1 md:grid-cols-3 xl:grid-cols-5">
  {% for photo in pressPhotoArchive %}
    <li class="mb-2">
      <a
        href="{{ photo.url }}"
        target="_blank"
        class="block cursor-pointer border-4 border-solid border-transparent font-semibold text-yellow-300 hover:border-red-500 hover:bg-red-500 hover:text-stone-50"
      >
        <img src="{{ photo.url }}" class="w-full h-auto" alt="{{ photo.title }}"/>
      </a>
      <div class="font-mono text-stone-50">
        <p>{{- photo.title -}}</p>

        {% if photo.location %}
          {% if photo.locationUrl %}
            <p><a href="{{ photo.locationUrl }}" class="text-yellow-300 underline hover:text-red-500">{{- photo.location -}}</a></p>
          {% else %}
            <p>{{- photo.location -}}</p>
          {% endif %}
        {% endif %}

        {% if photo.photographer %}
          {% if photo.photographerUrl %}
            <p><a href="{{ photo.photographerUrl }}" class="text-yellow-300 underline hover:text-red-500">{{- photo.photographer -}}</a></p>
          {% else %}
            <p>{{- photo.photographer -}}</p>
          {% endif %}
        {% endif %}

      </div>
    </li>
  {% endfor %}
</ul>
