---
layout: base.liquid
---
<div class="grid grid-cols-1 gap-1 md:grid-cols-5 xl:grid-cols-4">
  <div class="post px-2 pt-3 md:col-span-3 md:pr-10 xl:col-span-3">
    <time class="font-mono text-sm text-gray-400" datetime="{{ page.date | date: '%Y-%m-%d' }}">
      {{- page.date | date: '%B %d, %Y' -}}
    </time>
    <h1 class="mb-4 text-4xl font-bold">{{ title }}</h1>
    {{ content }}
  </div>
  <div class="md:col-span-2 xl:col-span-1">
    {% assign postDate = page.date | date: '%Y' %}
    {% for group in collections.postsByYear %}
      {% if postDate == group.year %}
        <ul class="list-none border-y-2 border-black">
          {% for post in group.posts %}
            {% assign thisPost = post.url == page.url %}
            <li>
              <a
                href="{{ post.url }}"
                {% if thisPost %}
                  class="block border-y-2 border-solid border-black bg-red-500 p-2 text-white underline"
                {% else %}
                  class="block border-y-2 border-solid border-black bg-white p-2 text-black hover:bg-red-500 hover:text-white hover:underline"
                {% endif %}
              >
                <span class="font-mono text-sm">{{ post.data.date | date: '%B %d, %Y' }}</span>
                <br>
                <span class="font-semibold">{{ post.data.title }}</span>
              </a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endfor %}
    <a href="/blog" class="hidden px-2 text-yellow-300 underline hover:text-yellow-500 hover:no-underline md:block"
      >All Posts &rarr;</a
    >
  </div>
</div>
