---
layout: base.liquid
---
<div class="my-1 grid grid-cols-1 gap-1 md:grid-cols-2">
  <div class="grain min-h-[300px] overflow-hidden md:h-full">
    <img src="{{ project.image }}" alt="{{ project.name }}" class="h-full w-full object-cover object-top">
  </div>
  <div class="px-2 pt-3">
    <span class="font-mono text-sm text-gray-400">{{ project.dateRange }}</span>
    <h1 class="text-4xl font-bold">{{ project.name }}</h1>
    <p class="mt-4 text-lg">{{ project.bio }}</p>
    {% if project.website %}
      <div class="mt-4">
        <a
          href="{{ project.website }}"
          class="text-yellow-300 underline hover:text-yellow-500 hover:no-underline"
        >
          {{ project.website }}
        </a>
      </div>
    {% endif %}
  </div>
</div>
<ul class="grid list-none grid-cols-1 gap-1 border-b-4 border-solid border-black md:grid-cols-3 xl:grid-cols-5">
  {% for release in project.releases %}
    <li class="group flex flex-col bg-white text-black hover:bg-black hover:text-yellow-300">
      <a href="/music/{{ release.slug }}" class="block cursor-pointer">
        <div class="grain-hover aspect-[1/1] w-full overflow-hidden">
          <img
            src="{{ release.cover_url }}"
            alt="{{ release.title }}"
            class="h-full w-full object-cover group-hover:invert"
            loading="lazy"
          >
        </div>
        <ul class="relative border-t-4 border-solid border-black p-2 group-hover:border-yellow-300">
          <li class="flex w-full gap-1 text-sm group-hover:underline">
            <span class="font-mono text-sm text-gray-400 group-hover:text-yellow-300">
              {{ release.released | dateToUTCYear }}
            </span>
            <span class="truncate overflow-hidden whitespace-nowrap text-transparent transition-all duration-300 group-hover:text-yellow-300">
              {{- release.type }}, {{ release.label }}: {{ release.format -}}
            </span>
          </li>
          <li class="w-full truncate group-hover:underline">
            <strong>{{ release.title }}</strong>
          </li>
        </ul>
      </a>
    </li>
  {% endfor %}
</ul>
