---
layout: base.liquid
---
<div class="my-1 grid grid-cols-1 gap-1 md:grid-cols-2">
  <div class="grain min-h-[300px] overflow-hidden md:h-full">
    <img src="{{ project.image }}" alt="{{ project.name }}" class="h-full w-full object-cover object-top">
  </div>
  <div class="px-2 pt-3">
    <span class="font-mono text-sm text-gray-400">{{ project.dateRange }}</span>
    <h1 class="text-4xl font-bold">{{ project.name }}</h1>
    <p class="mt-4 text-lg">{{ project.bio }}</p>
    {% if project.website %}
      <div class="mt-4">
        <a
          href="{{ project.website }}"
          class="link-primary"
        >
          {{ project.website }}
        </a>
      </div>
    {% endif %}
  </div>
</div>
<ul class="grid-releases">
  {% for release in project.releases %}
    {% render releaseCard, release: release %}
  {% endfor %}
</ul>
