---
layout: base.liquid
permalink: /music/{{ release.slug }}
eleventyComputed:
  title: "{{ release.title }} by {{ release.project }}"
---
<div class="border-t-4 border-b-4 border-solid border-stone-950 flex flex-col md:flex-row">
  <div class="border-b-[4px] border-stone-950 md:w-1/2 md:border-b-0 md:border-r-[4px]">
    <a href="{{ release.cover_url }}" target="_blank">
      <img src="{{ release.cover_url }}" alt="{{ release.title }} Cover" class="h-auto w-full">
    </a>
  </div>
  <div class="bg-stone-50 text-stone-950 md:w-1/2">
    <div class="border-b-[4px] border-stone-950 p-2">
      <time datetime="{{ release.released | stripLeadingZero | dateToUTC | date: '%Y-%m-%d' }}">
        {{- release.released | date: '%B %d, %Y' -}}
      </time>
      <h1 class="text-4xl font-bold">{{ release.title }}</h1>
      <h2 class="text-lg">by {{ release.project }}</h2>
    </div>
    <div class="border-b-[4px] border-stone-950 p-2">
      <h3 class="text-lg font-bold">Tracklist</h3>
      <ol>
        {% for track in release.tracks %}
          <li class="flex items-baseline gap-2 justify-between">
            {% assign index = forloop.index %}
            {% if index < 10 %}
              {% assign displayIndex = '0' | append: index %}
            {% else %}
              {% assign displayIndex = index %}
            {% endif %}
            <div class="text-xs font-mono">
              {{ displayIndex }}
            </div>
            <div>{{ track.title }}</div>
              <div class="relative grow text-sm before:absolute before:left-0 before:top-1/2 before:h-full before:w-full before:-translate-y-1/2 before:overflow-hidden before:whitespace-nowrap before:text-stone-500 before:content-['....................................................................................................................................................................................']">
              &#8203;
            </div>
            <div class="font-mono text-sm">{{ track.length }}</div>
          </li>
        {% endfor %}
      </ol>
    </div>
    {% if release.streams.size > 0 %}
      <div class="border-b-[4px] border-stone-950 p-2">
        <h3 class="text-lg font-bold">Listen</h3>
        <ol>
          {% for stream in release.streams %}
            <li class="flex w-full items-start">
              <a
                href="{{ stream.url }}"
                class="overflow-hidden truncate whitespace-nowrap text-blue-700 underline hover:text-blue-900 hover:no-underline"
                target="_blank"
              >
                {{- stream.platform -}}
              </a>
            </li>
          {% endfor %}
        </ol>
      </div>
    {% endif %}
    <div class="border-b-[4px] border-stone-950 p-2">
      <h3 class="text-lg font-bold">Notes</h3>
      <p>{{ release.notes }}</p>
    </div>
    <div class="p-2">
      <h3 class="text-lg font-bold">Credits</h3>
      <p>{{ release.credits }}</p>
    </div>
  </div>
</div>
