---
layout: base.liquid
permalink: /music/{{ release.slug }}
eleventyComputed:
  title: "{{ release.title }} by {{ release.project }}"
---
<div class="my-1 grid grid-cols-1 gap-1 md:grid-cols-2">
  <div>
    <a href="{{ release.cover_url }}">
      <img src="{{ release.cover_url }}" alt="{{ release.title }} Cover" class="h-auto w-full">
    </a>
  </div>
  <div class="px-2 pt-3 ">
    <time
      class="font-mono text-sm text-gray-400"
      datetime="{{ release.released | dateToUTCISO }}"
    >
      {{- release.released | dateToUTCFull -}}
    </time>
    <h1 class="text-4xl font-bold">{{ release.title }}</h1>
    <h2 class="text-lg font-bold mb-4"><a href="/project/{{ release.canonical_project_slug }}/" class="link-primary">{{ release.project }}</a></h2>
    <ul class="mb-4">
      <li class="ellipses">
        <div class="font-semibold">Type</div>
        <div class="ellipses-fill">&#8203;</div>
        <div class="font-mono">{{ release.type }}</div>
      </li>
      <li class="ellipses">
        <div class="font-semibold">Label</div>
        <div class="ellipses-fill">&#8203;</div>
        <div class="font-mono">{{ release.label }}</div>
      </li>
      <li class="ellipses">
        <div class="font-semibold">Format</div>
        <div class="ellipses-fill">&#8203;</div>
        <div class="font-mono">{{ release.format }}</div>
      </li>
      <li class="ellipses">
        <div class="font-semibold">Runtime</div>
        <div class="ellipses-fill">&#8203;</div>
        <div class="font-mono">{{ release.runtime | formatTrackLength }}</div>
      </li>
    </ul>
    <h3 class="text-lg font-bold">Tracklist</h3>
    <ol class="{% if release.trackIds.size > 0 %}mb-2{% else %}mb-4{% endif %}">
      {% for track in release.tracks %}
        <li class="ellipses">
          {% assign displayIndex = forloop.index | padIndex %}
          <div class="font-mono text-sm text-gray-400">
            {{ displayIndex }}
          </div>
          <div>{{ track.title }}{% if track.artist %}<span class="text-gray-400"> by {{ track.artist }}</span>{% endif %}</div>
          {% if track.mp3_url %}
            <div class="link-primary font-mono text-sm">
              <a href="{{ track.mp3_url }}">MP3</a>
            </div>
          {% endif %}
          {% if track.wav_url %}
            <div class="link-primary font-mono text-sm">
              <a href="{{ track.wav_url }}">WAV</a>
            </div>
          {% endif %}
          <div class="ellipses-fill">&#8203;</div>
          <div class="font-mono text-sm">{{ track.length | formatTrackLength }}</div>
        </li>
        {% if track.mp3_url %}
          {% assign hasTrackIds = track.trackIds.size > 0 %}
          {% assign isLastTrackWithReleaseIds = forloop.last and release.trackIds.size > 0 %}
          <li class="mt-4 {% if hasTrackIds or isLastTrackWithReleaseIds %}mb-4{% else %}mb-8{% endif %}">
            <audio class="w-full" controls src="{{ track.mp3_url }}">Your browser does not support the audio element.</audio>
          </li>
        {% endif %}
        {% if track.trackIds.size > 0 %}
          <li class="mb-4">
            <details>
              <summary class="cursor-pointer text-gray-400 hover:text-gray-200">Track Ids</summary>
              {% render trackIds, trackIds: track.trackIds %}
            </details>
          </li>
        {% endif %}
      {% endfor %}
    </ol>
    {% if release.trackIds.size > 0 %}
      <details class="mb-4">
        <summary class="cursor-pointer text-gray-400 hover:text-gray-200">Track Ids</summary>
        {% render trackIds, trackIds: release.trackIds %}
      </details>
    {% endif %}
    {% if release.streams.size > 0 %}
      <h3 class="text-lg font-bold">Listen</h3>
      <ol class="mb-4">
        {% for stream in release.streams %}
          <li class="flex w-full items-start">
            <a
              href="{{ stream.url }}"
              class="link-primary truncate overflow-hidden whitespace-nowrap"
            >
              {{- stream.platform -}}
            </a>
          </li>
        {% endfor %}
      </ol>
    {% endif %}
    <h3 class="text-lg font-bold">Notes</h3>
    <div class="release mb-4">{{ release.notes | linkify }}</div>
    <h3 class="text-lg font-bold">Credits</h3>
    <div class="release mb-4">{{ release.credits | linkify }}</div>
  </div>
</div>
